<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/personalized-trainings.css">
    <link rel="stylesheet" href="../../styles/main.css">
    <link rel="stylesheet" href="../../styles/nav-style.css">
    <link rel="stylesheet" href="../../styles/buttons.css">
    <link rel="stylesheet" href="../../styles/footer.css">
    <link rel="stylesheet" href="../../styles/4k_mediaQueries.css">
    <script src="../../scripts/nav-bar.js" defer></script>

    <title>OAC - Cursos e Treinamentos</title>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-title">OAC - Cursos e Treinamentos</div>
        <a href="#" class="toggle-button">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </a>
        <div class="navbar-links">
            <ul>
                <li><a href="./index.html">Início</a></li>
                <li><a href="./courses.html">Cursos</a></li>
                <li><a class="item-active" href="./personalized-trainings.html">Atendimento Personalizado</a></li>
            </ul>
        </div>
    </nav>
    <hr id="hr-navbar">
    <main>
        <div class="container">
            <div class="title-page">
                <h1>Atendimentos personalizados</h1>
                <p>Conte-nos a sua necessidade, ou da sua empresa
                    que entraremos em contato! Assim, podemos te atender
                    da melhor maneira possível.
                </p>
            </div>
            <div class="form-style-6 item">
                <h1>Contate-nos</h1>
                <form action="https://api.staticforms.xyz/submit" method="POST">
                    <input type="hidden" name="accessKey" value="70690e59-fe3e-4a04-b79b-601146ddf94f">
                    <input type="hidden" name="subject" value="Atendimento personalizado">
                    <input type="text" name="name" placeholder="Nome ou empresa" />
                    <input type="email" name="email" placeholder="Endereço de e-mail" />
                    <textarea name="message" placeholder="Digite aqui sua mensagem"></textarea>
                    <input type="submit" value="Enviar" />
                    <input type="hidden" name="redirectTo" value="http://127.0.0.1:5500/public/src/views/personalized-trainings.html">
                </form>
            </div>
        </div>
    </main>
    <footer>
        <div class="main-content">
            <div class="left box">
                <h2>Sobre nós</h2>
                <div class="content">
                    <p>Nós temos como objetivo deixar você ou sua empresa mais competitiva no mercado, através de cursos e treinamentos. Se não encontrou o que queria tente o atendimento personalizado.</p>
                    <div class="social">
                        <a href="#"><span class="fab fa-facebook-f"></span></a>
                        <a href="#"><span class="fab fa-twitter"></span></a>
                        <a href="#"><span class="fab fa-instagram"></span></a>
                        <a href="#"><span class="fab fa-youtube"></span></a>
                    </div>
                </div>
            </div>
            <div class="center box">
                <h2>Endereço e Contato</h2>
                <div class="content">
                    <div class="place">
                        <span class="fas fa-map-marker-alt"></span>
                        <span class="text">Jacareí, São Paulo</span>
                    </div>
                    <div class="phone">
                        <span class="fas fa-phone alt"></span>
                        <span class="text">(12) 99676-5146 - Whatsapp</span>
                    </div>
                    <div class="rate-us">
                        <span class="fas fa-envelope"></span>
                        <span class="text">sac@oactreinamentos.com.br</span>
                    </div>
                </div>
            </div>
            <div class="right box">
                <h2>Avalie-nos</h2>
                <div class="content">
                    <form action="https://api.staticforms.xyz/submit" method="POST">
                        <input type="hidden" name="accessKey" value="70690e59-fe3e-4a04-b79b-601146ddf94f">
                        <input type="hidden" name="subject" value="Avaliação">
                        <div class="email">
                            <div class="text">Email *</div>
                            <input type="email" name="email" id="email" required>
                        </div>
                        <div class="msg">
                            <div class="text">Mensagem *</div>
                            <textarea name="message" id="message" cols="25" rows="2"></textarea>
                        </div>
                        <div class="btn-footer">
                            <button type="submit">Enviar</button>
                        </div>
                        <input type="hidden" name="redirectTo" value="http://127.0.0.1:5500/public/src/views/personalized-trainings.html">
                    </form>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>